openapi: 3.0.0
info:
  title: API
  version: '1.0'
  description: Slovo Propovedi Admin API
servers:
  - url: https://api.slovo-propovedi.ru
    description: Production API
tags:
  - name: Auth
    description: Authentication endpoints
  - name: Files
    description: File upload and streaming
  - name: Sermons
    description: Sermon CRUD operations
  - name: Sections
    description: Section CRUD operations
  - name: Playlists
    description: Playlist CRUD operations
paths:
  /files:
    post:
      operationId: AppController_uploadFile
      summary: Upload file
      parameters: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IFileResponseDto'
      tags:
        - Files
      security:
        - bearer: []
  /files/{fileName}/stream-url:
    get:
      operationId: AppController_getStreamUrl
      summary: Get stream URL for file
      parameters:
        - name: fileName
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: 'Presigned stream URL'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamUrlResponse'
      tags:
        - Files
  /files/{fileName}:
    get:
      operationId: AppController_getFile
      summary: Get file
      parameters:
        - name: fileName
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IFileResponseDto'
      tags:
        - Files
  /health:
    get:
      operationId: HealthController_check
      summary: Check service health
      parameters: []
      responses:
        '200':
          description: 'Service health status'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /section:
    post:
      operationId: SectionController_create
      summary: Create section
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSectionDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionEntity'
      tags:
        - Sections
    get:
      operationId: SectionController_findAll
      summary: Get all sections
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllSectionsResponse'
      tags:
        - Sections
  /section/{id}:
    get:
      operationId: SectionController_findOne
      summary: Get one section by id
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionEntity'
      tags:
        - Sections
    patch:
      operationId: SectionController_update
      summary: Update one section by id
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSectionDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionEntity'
      tags:
        - Sections
    delete:
      operationId: SectionController_remove
      summary: Delete one section by id
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusSectionsResponse'
      tags:
        - Sections
  /playlists:
    post:
      operationId: PlaylistController_create
      summary: Create playlist
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlaylistDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistEntity'
      tags:
        - Playlists
    get:
      operationId: PlaylistController_findAll
      summary: Get all playlists
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllPlaylistsResponse'
      tags:
        - Playlists
  /playlists/{id}:
    get:
      operationId: PlaylistController_findOne
      summary: Get one playlist by id
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistEntity'
      tags:
        - Playlists
    patch:
      operationId: PlaylistController_update
      summary: Update one playlist by id
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlaylistDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistEntity'
      tags:
        - Playlists
    delete:
      operationId: PlaylistController_remove
      summary: Delete one playlist by id
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPlaylistResponse'
      tags:
        - Playlists
  /sermons:
    post:
      operationId: SermonController_create
      summary: Create sermon
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSermonDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SermonEntity'
      tags:
        - Sermons
    get:
      operationId: SermonController_findAll
      summary: Get all sermons
      parameters:
        - name: take
          required: false
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: cursor
          required: false
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllSermonsResponse'
      tags:
        - Sermons
  /sermons/{id}/stream-url:
    get:
      operationId: SermonController_getStreamUrl
      summary: Get stream URL for sermon audio
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Presigned stream URL'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamUrlResponse'
      tags:
        - Sermons
      security:
        - bearer: []
  /sermons/{id}:
    get:
      operationId: SermonController_findOne
      summary: Get one sermon by id
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SermonEntity'
      tags:
        - Sermons
    patch:
      operationId: SermonController_update
      summary: Update one sermon by id
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSermonDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusSermonResponse'
      tags:
        - Sermons
    delete:
      operationId: SermonController_remove
      summary: Delete one sermon by id
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusSermonResponse'
      tags:
        - Sermons
  /auth/login:
    post:
      operationId: AuthController_signIn
      summary: Login with email and password
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInRequestDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
      tags:
        - Auth
  /auth/refresh:
    post:
      operationId: AuthController_refresh
      summary: Refresh access and refresh tokens
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
      tags:
        - Auth
  /auth/profile:
    get:
      operationId: AuthController_getProfile
      summary: Get current admin profile
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      tags:
        - Auth
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
  schemas:
    HealthResponse:
      type: object
      additionalProperties: false
      properties:
        status:
          type: string
      required:
        - status
    StreamUrlResponse:
      type: object
      properties:
        url:
          type: string
      required:
        - url
    IFileResponseDto:
      type: object
      additionalProperties: false
      properties:
        fileName:
          type: string
        fileUrl:
          type: string
      required:
        - fileName
        - fileUrl
    CreateSectionDto:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        itemsSize:
          type: string
          enum:
            - small
            - middle
            - large
            - xLarge
        itemsRows:
          type: number
        transform:
          type: string
          enum:
            - high
            - short
        isDescriptionTitleOnSlideLarge:
          type: boolean
        whereIsSlideTitleLocated:
          type: string
          enum:
            - 'on'
            - under
            - bothOnAndUnder
        borderRadius:
          type: boolean
      required:
        - title
        - itemsSize
        - transform
    SectionEntity:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        itemsSize:
          type: string
          enum:
            - small
            - middle
            - large
            - xLarge
        itemsRows:
          type: number
          nullable: true
        transform:
          type: string
          enum:
            - high
            - short
        isDescriptionTitleOnSlideLarge:
          type: boolean
          default: false
        whereIsSlideTitleLocated:
          type: string
          enum:
            - 'on'
            - under
            - bothOnAndUnder
          default: under
        borderRadius:
          type: boolean
          default: false
        playlists:
          type: array
          items:
            $ref: '#/components/schemas/PlaylistEntity'
      required:
        - id
        - title
        - itemsSize
        - transform
        - playlists
    SermonEntity:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        textFileUrl:
          type: string
          nullable: true
        audioUrl:
          type: string
          nullable: true
        youtubeUrl:
          type: string
          nullable: true
        artist:
          type: string
        artwork:
          type: string
        book:
          type: string
          nullable: true
        chapter:
          type: number
          nullable: true
        verse:
          oneOf:
            - type: integer
            - type: array
              items:
                type: integer
              minItems: 2
              maxItems: 2
          nullable: true
        playlists:
          type: array
          items:
            $ref: '#/components/schemas/PlaylistEntity'
      required:
        - id
        - title
        - description
        - textFileUrl
        - audioUrl
        - youtubeUrl
        - artist
        - artwork
        - book
        - chapter
        - verse
        - playlists
    PlaylistEntity:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        artwork:
          type: string
        sections:
          type: array
          items:
            $ref: '#/components/schemas/SectionEntity'
        sermons:
          type: array
          items:
            $ref: '#/components/schemas/SermonEntity'
      required:
        - id
        - title
        - description
        - artwork
        - sections
        - sermons
    AllSectionsResponse:
      type: object
      additionalProperties: false
      properties:
        sections:
          type: array
          items:
            $ref: '#/components/schemas/SectionEntity'
        count:
          type: number
      required:
        - sections
        - count
    UpdateSectionDto:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        playlistsIds:
          type: array
          items:
            type: string
        itemsSize:
          type: string
          enum:
            - small
            - middle
            - large
            - xLarge
        itemsRows:
          type: number
        transform:
          type: string
          enum:
            - high
            - short
        isDescriptionTitleOnSlideLarge:
          type: boolean
        whereIsSlideTitleLocated:
          type: string
          enum:
            - 'on'
            - under
            - bothOnAndUnder
        borderRadius:
          type: boolean
    StatusSectionsResponse:
      type: object
      additionalProperties: false
      properties:
        status:
          type: string
      required:
        - status
    CreatePlaylistDto:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        artwork:
          type: string
        sermonsIds:
          type: array
          items:
            type: string
      required:
        - title
        - description
        - artwork
    AllPlaylistsResponse:
      type: object
      additionalProperties: false
      properties:
        playlists:
          type: array
          items:
            $ref: '#/components/schemas/PlaylistEntity'
        count:
          type: number
      required:
        - playlists
        - count
    UpdatePlaylistDto:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        artwork:
          type: string
        sermonsIds:
          type: array
          items:
            type: string
        sectionsIds:
          type: array
          items:
            type: string
    StatusPlaylistResponse:
      type: object
      additionalProperties: false
      properties:
        status:
          type: string
      required:
        - status
    CreateSermonDto:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        textFileUrl:
          type: string
        audioUrl:
          type: string
        youtubeUrl:
          type: string
        artist:
          type: string
        artwork:
          type: string
        book:
          type: string
          example: Genesis
          description: Bible book reference
        chapter:
          type: number
        verse:
          oneOf:
            - type: integer
            - type: array
              items:
                type: integer
              minItems: 2
              maxItems: 2
        playlistsIds:
          type: array
          items:
            type: string
      required:
        - title
        - description
        - artist
        - artwork
    AllSermonsResponse:
      type: object
      additionalProperties: false
      properties:
        sermons:
          type: array
          items:
            $ref: '#/components/schemas/SermonEntity'
        count:
          type: number
          nullable: true
        nextCursor:
          type: string
          nullable: true
      required:
        - sermons
        - count
        - nextCursor
    UpdateSermonDto:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        textFileUrl:
          type: string
        audioUrl:
          type: string
        youtubeUrl:
          type: string
        artist:
          type: string
        artwork:
          type: string
        book:
          type: string
          example: Genesis
          description: Bible book reference
        chapter:
          type: number
        verse:
          oneOf:
            - type: integer
            - type: array
              items:
                type: integer
              minItems: 2
              maxItems: 2
        playlistsIds:
          type: array
          items:
            type: string
    StatusSermonResponse:
      type: object
      additionalProperties: false
      properties:
        status:
          type: string
      required:
        - status
    SignInRequestDto:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
      required:
        - email
        - password
    UserResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
      required:
        - id
        - name
        - email
    AuthResponse:
      type: object
      additionalProperties: false
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        user:
          $ref: '#/components/schemas/UserResponse'
      required:
        - accessToken
        - refreshToken
        - user
    RefreshTokenDto:
      type: object
      properties:
        refreshToken:
          type: string
      required:
        - refreshToken
    RefreshResponse:
      type: object
      additionalProperties: false
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
      required:
        - accessToken
        - refreshToken
